<div *ngIf="isShowing" class="popup-container">
    <section class="review-popup">
        <i class="right mdi-close" (click)="hide()"></i>
        <form [formGroup]="reviewForm" (ngSubmit)="onReviewSubmit()">
            
            <div class="row  mtm">
            <div class="col-6  text-container prm">
                <label>Name</label>
                <input formControlName="reviewer" type="text">
            </div>
           <div class="col-6  star-rating">
            <app-rating  [(rating)]="rating"></app-rating>
           </div>
            </div>

            <div class="mtm row text-container">
                <label>Review</label>
                <textarea formControlName="review" ></textarea>
            </div>
            <div class="ptl">
                <button class="right">Add Review</button>
            </div>
           
            

        </form>
    </section>
</div>