
<div class="package-container pointer"  (click)="onPackageSelected()" >
<section class="row package card">
    <div class="image-container" >
        <img  src="{{package.location | imageRl}}">
    </div>
    <div class="row summary">

   
    <div class="left text-content">
        <h2 >{{package.name}}</h2>
        <p class="amount">{{package.price | currency:'INR':'symbol-narrow':'4.2-2'}}</p>
        <div class="star-rating">
            <app-rating [disabled]="true" [rating] = "rating"></app-rating>
            <span>(2)</span>
        </div>
    </div>
    <div class="right cart-icon">
        <i (click)="addItemToCart($event)" class=" pointer mdi mdi-cart-plus"></i>
    </div>
    </div>
</section>
</div>
