<section class="left card ">

    <div class="profile-image-container">
        <i class="mdi mdi-account"></i>
    </div>
    
    <div class="review-detail">
        <div class="row reviewer">
            <span class="left reviewer mrm">
                {{review.reviewer}}
            </span>
            <div class="col star-rating">
                <app-rating [disabled]="true" [rating]="review.rating"></app-rating>
            </div>
        </div>
        <div class="row review">
            <p>{{review.review}}</p>
        </div>
    </div>

</section>