.package-summary{
margin-top: 20px;
float: left;
width: 100%;
padding: 25px;
box-shadow: 0px 5px 20px rgba(147, 170, 185, 0.16);
background-color: #fff;
border-radius: 15px;


.image-container{
    overflow: hidden;
    border-radius: 10px;
    float: left;
    margin-right: 20px;
    height: 240px;
    

    img{
        height: 240px;
        max-width: 320px;
    }
}

.descriptive{
    float: left;
    width: calc(100% - 400px);
    padding: 10px;
    .package-title{
        width: 100%;
        font-family: Roboto;
        font-weight: 500;
        font-size: 20px;
        color: #707070;
    }
    h2{
        float: left;
        width: 100%;
        font-family: Roboto;
        font-weight: 500;
        font-size: 18px;
        text-align: left;
        color: #6a6a6a;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

    
    }

    .button-pane{
        float: left;
        width: 100%;
        padding-top: 60px;
        
        
        
        button{
            min-width: 124px;
            margin-right: 20px;
            font-size: 20px;
            padding-right: 50px;
            box-shadow: 0px 3px 6px rgba(127, 67, 192, 0.16);
            

            i{
                font-size: 23px;
                margin-right: 20px;
                padding-left: 5px;
                

                
            }
            


        }
    }

}

}

.amount{
    font-weight: normal;
    font-size: 20px;
    
    
}

.review-heading{
   padding-top: 330px;
   font-weight: bold;
   font-size: 20px;
   color: #707070;

}




